<head>
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
</head>
<div id="audio-container" >
 <audio controls id="audio" >
  <source src="../../../media/sma_sirkusfilingur.mp3" type="audio/mp3" />
  Your browser does not support the audio tag, this will not work for you.
</audio>
    </div>
<script type="text/javascript">
    var vid = document.getElementById("audio");
    vid.playbackRate = 3.0;
</script>

<div class="container">
    <div class="image-1">
    <img src="../../../media/0.jpg"/>
    </div>
    <div class="image-2">
    <img src="../../../media/1.jpg"/>
    </div>
    <div class="image-3">
    <img src="../../../media/2.jpg"/>
    </div>
    <div class="image-4">
    <img src="../../../media/3.jpg"/>
    </div>
</div>
<div class="container">
    <div class="image-1">
    <img src="../../../media/4.jpg"/>
    </div>
    <div class="image-2">
    <img src="../../../media/5.jpg"/>
    </div>
    <div class="image-3">
    <img src="../../../media/6.jpg"/>
    </div>
    <div class="image-4">
    <img src="../../../media/7.jpg"/>
    </div>
</div>
<div class="container">
    <div class="image-1">
    <img src="../../../media/0.jpg"/>
    </div>
    <div class="image-2">
    <img src="../../../media/1.jpg"/>
    </div>
    <div class="image-3">
    <img src="../../../media/2.jpg"/>
    </div>
    <div class="image-4">
    <img src="../../../media/3.jpg"/>
    </div>
</div>
