<body style="background-color:ivory">
<div id="audio-container" style="float:left;position:absolute;top:10px;">
 <audio controls id="audio" style="width:200px" >
  <source src="../../../media/sma_sirkusfilingur.mp3" type="audio/mp3"  />
  Your browser does not support the audio tag, this will not work for you.
</audio>
    </div>
<script type="text/javascript">
    var vid = document.getElementById("audio");
    vid.playbackRate = 3.0;
</script>

<div class="container " style ="float:right">
    <div class="image-1" >
    <img src="../../../media/0.jpg" style="height:500px;width:500px"/>
    </div>
    <div class="image-2"  >
    <img src="../../../media/1.jpg" style="height:500px;width:500px"/>
    </div>
    <div class="image-3"  >
    <img src="../../../media/2.jpg" style="height:500px;width:500px"/>
    </div>
    <div class="image-4" >
    <img src="../../../media/3.jpg"  style="height:500px;width:500px" />
    </div>
</div>
<div class="container" style ="float:right">
    <div class="image-1">
    <img src="../../../media/4.jpg"  style="height:500px;width:500px"/>
    </div>
    <div class="image-2">
    <img src="../../../media/5.jpg"  style="height:500px;width:500px"/>
    </div>
    <div class="image-3">
    <img src="../../../media/6.jpg"  style="height:500px;width:500px"/>
    </div>
    <div class="image-4">
    <img src="../../../media/7.jpg"  style="height:500px;width:500px"/>
    </div>
</div>
<div class="container" style ="float:right">
    <div class="image-1">
    <img src="../../../media/0.jpg"  style="height:500px;width:500px"/>
    </div>
    <div class="image-2">
    <img src="../../../media/1.jpg"  style="height:500px;width:500px"/>
    </div>
    <div class="image-3">
    <img src="../../../media/2.jpg"  style="height:500px;width:500px"/>
    </div>
    <div class="image-4">
    <img src="../../../media/3.jpg" style="height:500px;width:500px"/>
    </div>
</div>
</body>